.friendList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  width: 300px;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: bisque;
}

.span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.statusOnline {
  composes: span;
  background-color: green;
}

.statusOffine {
  composes: span;
  background-color: red;
}

.avatar {
  border-radius: 50%;
}

.name {
  font-size: large;
}
